.privacy .wrap-container{
	position: relative;
}
.privacy .head_bg{ 
	width: 100%;
	height: 600px;
	position: absolute;
	top:0;
	left: 0;
	background:url("../images/pages/latest_news/head_bg.png");
	background-position: center;
	background-size: cover;
	z-index: -1;
}
.privacy .head_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.privacy .wrap-content{
	position: relative;
    max-width: 1450px;
    padding:0 47px;
}
.privacy .fade_overlay{
	background:url("../images/pages/latest_news/fade_overlay.svg");
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
.privacy .bg{
	width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/pages/latest_news/bg.svg);
    z-index: -2;
    top: 56px;
    top: 5.6rem;
    background-size: cover;
}
.privacy .hr-break.green{
	border-bottom: 3px solid #00CF9B;
	width: 100%;
	margin:48px auto 75px;
	max-width: 1232px;
}
.privacy .more-btn{
	margin-top: 30px;

}
.privacy .body_content{
	margin-top:321px;
	margin-top:32.1rem;
}
.privacy .body_content h1{
	margin-bottom: 41px;
	margin-bottom: 4.1rem;
}
.privacy .body_content p{
	margin-bottom: 68px;
	margin-bottom: 6.8rem;
	line-height: 35px;
	line-height: 3.5rem;
}

.privacy .body_content p span{
	display:block;
	margin-top:43px;
}
.privacy .sleft{
	margin-left:-4px;
}