.trickster_tipster .wrap-container{
	position: relative;
}
.trickster_tipster .head_bg{
	width: 100%;
	height: 883px;
	position: absolute;
	top:0;
	left: 0;
	background:url("../images/pages/trickster_tipster/head_bg.png");
	background-position: center;
	background-size: cover;
	z-index: -1;
}
.trickster_tipster .wrap-content{
	position: relative;
    /*max-width: 1479px;
    padding:0 16px;*/
    max-width: 2000px;
}
.trickster_tipster .fade_overlay{
	background:url("../images/pages/trickster_tipster/head_fade.svg");
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.trickster_tipster .bg{
	width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/pages/trickster_tipster/bg.svg);
    z-index: -2;
    background-size: cover;
    top: 880px;
}
.trickster_tipster .head_title{
	margin:0 auto;
	margin-top: 38px;
	display:block;
	/*max-width: 1020px;*/
    max-width: 70%;
    /*padding-bottom: 70.8%;*/
}
.trickster_tipster .head_title img{
	width:100%;
    height: 641px;
	/*height: 100%;*/
	background-size: contain;
	-o-object-fit: contain;
	   object-fit: contain;
	/*position: absolute;*/
}
.trickster_tipster .head_title .title_m{
	display:none;
}
.trickster_tipster .head_title p{
	max-width: 544px;
	text-align: center;
	margin:0 auto;
	margin-top: -24px;
	margin-bottom: 43px;
}
.trickster_tipster .card_holder{
	/*height:567px;*/
	height: auto;
    -webkit-display:flex;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin:0 auto;
    justify-content: start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
}
.trickster_tipster .card_holder .card{
	width: 296px;
	margin:0;
	margin-right: 16px;
    margin-bottom: 16px;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    height: 0;    
    padding-bottom: 37.9%;
}
.trickster_tipster .card_holder .card:last-child{
	margin-right:0;
}
.trickster_tipster .lg .card_mask_img{
    height: 45.6% !important;
}
.trickster_tipster .subscript{
	margin-bottom: 21px;
}
.trickster_tipster .hr-break.green{
	border-bottom: 3px solid #00CF9B;
	width: 100%;
	margin:48px 0 75px;
}
.trickster_tipster .card.lg .logo_symbols{	
    height: 41.1%;
    /*padding-right: 33px; */
    padding-left: 10.3%;
    padding-right: 9.5%;
    z-index: 10;

}
.trickster_tipster .card .bg_img{
	background-position: 50% 60%;
}
.trickster_tipster .card.lg .logo_symbols .symbols{
    height: 51.1%;
    width: 89%;
    padding-right: 10%;
}
.trickster_tipster .card.lg .logo_symbols img:first-child{
	margin-right: 9%;
}
.trickster_tipster .card.lg .logo_symbols img{
    height: 100%;
    width: auto;
    object-fit: contain;
}
.trickster_tipster .card.lg .logo_symbols .desc{
    margin-top: 3.4rem;
    margin-right: 0;
}
.trickster_tipster .rec_overlay{
    /*top: 61%;*/
    top: auto;
    /*bottom: -16%;*/
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-clip-path: polygon(0 95%, 100% 60%, 100% 100%, 0 100%);
    clip-path: polygon(0 95%, 100% 60%, 100% 100%, 0 100%);
}
.trickster_tipster .related_card{
	max-width: 430px;
	background: #341252;
	margin-right: 24px;
}
.trickster_tipster .full_card_holder{
	margin-bottom: 17px;
}
.trickster_tipster .full_card_holder .card{
	/*height: 400px;*/
    height: 0;
    padding-bottom: 27.65%;
	width: 100% !important;
	margin:0;
}
.trickster_tipster .full_card_holder .rec_overlay{
    opacity: .6;
    width: 847px;
    height: 482px;
    position: absolute;
    /*top: 114px;*/
    top:auto;
    left:auto;
    /*right: -352px;*/
    right: 0;
    /*-webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);*/
    -webkit-clip-path: polygon(98% 0, 100% 0, 100% 100%, 65% 100%);
    clip-path: polygon(98% 0, 100% 0, 100% 100%, 65% 100%);
    width: 100%;
    height: 100%;
    transform: none;
    top: auto;
    right: 0;
}
.trickster_tipster .full_card_holder .lg .card_mask_img{
    /*height: 447px!important;*/    
    height: 111.8% !important;
}
.trickster_tipster .full_card_holder .card.lg .logo_symbols .desc{
	max-width: 775px;
	/*margin-top: 3.02%;*/
	margin-top: 3.8rem;
    /*margin-right: 2%;*/
    margin-right: 2.5rem;
}
.trickster_tipster .full_card_holder .card.lg .logo_symbols{
	/*top:111px;*/
    top: 28%;
	height: 60%;
    padding-left: 2.5%;
}
.trickster_tipster .full_card_holder .card.lg .box-date{
	/*top:53px;*/
	top:13%;
}
.trickster_tipster .full_card_holder .card.lg .logo_symbols .symbols{
   height: 48%;
   width: 22%;
}

.trickster_tipster .more-btn{
    margin-top: 34px;
}